*{
    margin: 0;
    padding: 0;
    outline: none;
}

body{
    font-size: 150px;
    font-weight: bold;
    background-color: #e3e3e3;
}

.wrap{
    margin: 100px auto;
    width: 900px;
    position: relative;
}
input{
    font-family: 'Open Sans';
    font-weight: bold;
}
.control{
    text-align: center;
}
.button{
    width: 200px;
    height: 80px;
    background: linear-gradient(to bottom, #27a1c9 0%, #1472b7 100%);
    border-radius: 20px;
    padding: 4px 0 4px 0;
    margin: 11px 0 0 10px;
    color: #fff;
    cursor: pointer;
    border: none;
    box-shadow: 2px 2px 3px 2px rgba(213,213,213,1);
}

#data{
    width: 900px;
    background: none;
    border: none;
    font-size: 120px;
    color: #194e93;
    text-align: center;
}
#count,
#clear,
#split{
    font-size: 30px;
}
.clearfix :after{
    display: block;
    content: '';
    clear: both;
}
