<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template</title>

    <link rel="stylesheet" href="css/style_templ.css">
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="js/js_templ.js"></script>
    <script src="js/js_script.js"></script>

</head>
<body>

<script type="text/html"  id='page'>
    <% for (var i = 0; i < data.length; i++ ) { %>
    <div class="page">
        <div><h2><%= data[i].name %></h2>
        <img class= "img" src="<%= data[i].img %>">
        <h3><%= data[i].work %></h3></div>
        <div><h4><%= data[i].title %></h4>
        <p><%= data[i].description %></p></div>
        <div><h4><%= data[i].contact %></h4>
        <p><%= data[i].phone %></p>
        <h4><%= data[i].text %></h4>
        <a href="<%= data[i].network %>">vk.com</a></div>
        <div>
            <h4><%= data[i].feedback%></h4>
            <p><%=data[i].content %></p>
        </div>

    </div>
    <% }; %>
</script>

</body>
</html>