//Colours should always only appear in this colours.scss

$white:      #fff;
$gray_light: #f7f7f7;
$gray_clear: #e9e9ea;
$grizzle:    #8c8e92;
$gray:       #8a8a8a;
$black:      #000;
$grey_dark:  #2a2d32;
$taupe:      #2a2d32;
$dark:       #181a1d;
$black_dark: #35383c;
$gray_midle: #707276;
$orang:      #f4b60d;
$blue:       #248cec;
$blue_transparent: rgba(36, 140, 236, 0.7);