@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open_sans.eot');
    src: url('../fonts/open_sans.eot?#iefix') format('embedded-opentype'),
    url('../fonts/open_sans.woff2') format('woff2'),
    url('../fonts/open_sans.woff') format('woff'),
    url('../fonts/open_sans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}